<h2>Add a border to a table:</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Amount</th>
    <th>Total</th>
    <th>Option</th>
  </tr>
  <tr *ngFor ="let good of cart; index as i">
    <td>{{good.name}}</td>
    <td>{{good.price | currency}}</td>
    <td>
        <input type="number" placeholder="Amount Total" [(ngModel)]="good.amount">
    </td>
    <td>{{(good.price * good.amount | currency)}}</td>
    <td>
        <button class="btn btn-primary" (click)="save(i)">Save</button>
        <button class="btn btn-danger" (click)="delete(i)">Delete</button>

    </td>
  </tr>

</table>